
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
dash = "*"
tensorflow = "*"
keras = "*"
torch = "*"
scipy = "*"
jupyterlab = "*"
ipykernel = "*"
sklearn = "*"
scikit-learn = "*"
chart-studio = "*"
matplotlib = "*"
seaborn = "*"
alpha-vantage = "*"

[dev-packages]

[requires]
python_version = "3.9"
